"" Source your .vimrc
"source ~/.vimrc

"" ---------------------
"" Map leader to space
"" ---------------------
let mapleader=" "

"" ---------------------
"" Plugins
"" ---------------------
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'
set sneak
set easymotion
set notimeout

set which-key
let g:WhichKey_FontSize = 17

"" ---------------------
"" Settings
"" ---------------------
set scrolloff=10    " start scrolling before edge of screen
set incsearch       " search while typing
set nu              " show line numbers
set relativenumber  " show relative line numbers
set colorcolumn=80

" Use system clipboard
set clipboard+=unnamed
set clipboard+=ideaput

set ideajoin
set idearefactormode=keep

"" ---------------------
"" Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" ---------------------

" Use \ for less used shortcuts
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \s :source ~/.ideavimrc<CR>
nnoremap \f :action ReformatCode<CR>
nnoremap \b :action ToggleLineBreakpoint<CR>

" View Settings
let g:WhichKeyDesc_view = "<leader>v View options"
nnoremap <leader>vd :action ToggleDistrationFreeMode<CR>

let g:WhichKeyDesc_zen = "<leader>vz Toggle Zen Mode"
nnoremap <leader>vz :action ToggleZenMode<CR>

let g:WhichKeyDesc_fullscreen = "<leader>vf Toggle Fullscreen"
nnoremap <leader>vf :action ToggleFullScreen<CR>

let g:WhichKeyDesc_presentation = "<leader>vp Toggle Presentation Mode"
nnoremap <leader>vp :action TogglePresentationMode<CR>

" Tool Windows
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>
nnoremap <c-f> :action ActivateFindToolWindow<CR>
nnoremap <leader>x :NERDTree<CR>

" Editor Splits
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader>q :action CloseEditor<CR>
nnoremap <leader>Q :action CloseAllEditors<CR>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>

" Navigate Between Editor Splits
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" Editor Windows
nnoremap <leader>w :action NextWindow<CR>

" Source Code
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap J :action MoveLineDown<CR>
nnoremap K :action MoveLineUp<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>=  :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap <leader>b :action Annotate<CR>

" Refactoring
nnoremap ev :action IntroduceVariable<CR>
nnoremap ec :action IntroduceConstant<CR>
nnoremap em :action ExtractMethod<CR>
nnoremap es :action ExtractSuperclass<CR>
nnoremap er :action RenameElement<CR>

" Code Navigation
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>s :action FileStructurePopup<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

" Run/Debug
nnoremap ,r :action RunClass<CR>
nnoremap ,c :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>

nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

" Find more examples here: https://jb.gg/share-ideavimrc
